.city{
    background-color: blue;
    color: crimson;
    padding: 10px;
}
.country{
    background-color:rgba(255, 48, 206, 0.5);
    color: cyan;
    padding: 10px;
}
.postalcode{
    background-color: darkorange;
    color: navy;
    padding: 5px;

}
.street{
    background-color: palegreen;
    color: red;
    padding: 5px;
}
.attention{
    font-size: 125%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: pink;
}